@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#af67e9,#6565e7);
}
.box{
    position: relative;
    width: 750px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    height: 100%;
}
.area {
    width: 650px;
}
.area textarea{
    position: relative;
    width: 80% !important;
    height: 80%;
    resize: none;
    border-radius:20px ;
    border: 1px solid rgba( 0 ,0 ,0 ,0.2);
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #555;
}
.area h4 {
    color: #555;
    margin-bottom: 10px;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter-box{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto;
}
.counter-box p{
    display: flex;
    position: relative;;
    right: 32px;
    top: 15%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: #555;
}
.word-span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #de7d28;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
.character-span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #af67e9;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
.Vowel-span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #23c23b;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
